/* CUSTOM PROPS */
:root {
    --font-ibarra: "Ibarra Real Nova", "Arial", sans-serif;
    --font-public-sans: "Public Sans", "Arial", sans-serif;
    --green: #5FB4A2;
    --dark-blue: #203A4C;
    --grayish-dark-blue: #33323D;
    --very-light-gray: #FAFAFA;
    --light-gray: #EAEAEB;
    --bright-red: #F43030;
}

/* FONT-FACES */
@font-face {
    font-family: 'Ibarra Real Nova';
    src: url('../fonts/IbarraRealNova-Bold.woff2') format('woff2'),
    url('../fonts/IbarraRealNova-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Public Sans';
    src: url('../fonts/PublicSans-Bold.woff2') format('woff2'),
    url('../fonts/PublicSans-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Ibarra Real Nova';
    src: url('../fonts/IbarraRealNova-Regular.woff2') format('woff2'),
    url('../fonts/IbarraRealNova-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Public Sans';
    src: url('../fonts/PublicSans-Regular.woff2') format('woff2'),
    url('../fonts/PublicSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}



/* GLOBAL STYLES */
html {
    height: 100%;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 0;
    margin: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    font-family: var(--font-public-sans);
    background-color: var(--very-light-gray);
    color: var(--grayish-dark-blue);
}

img {
    max-width: 100%;
    height: auto;
}


/* LOGO */
.logo {
    display: inline-block;
}

.logo:hover {
    opacity: 0.8;
}

.logo:active {
    opacity: 0.6;
}

.logo__img {
    display: block;
    width: 61px;
    height: 32px;
    object-fit: contain;
}


/* BUTTON */
.button {
    display: inline-block;
    padding: 17px 36px 17px 32px;
    border: 1px solid var(--grayish-dark-blue);
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: var(--grayish-dark-blue);
    text-decoration: none;
}

.button:hover {
    color: #fff;
    background-color: var(--grayish-dark-blue);
}

.button:active {
    opacity: 0.6;
}

.form__button {
    background-color: var(--dark-blue);
    color: #fff;
}

.form__button:hover {
    background-color: #fff;
    color: var(--dark-blue);
}

.form__button:active {
    opacity: 0.6;
}


/* AUTO-FILLS STYLES*/
/* input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    border-color: transparent;
    -webkit-text-fill-color: inherit;
    -webkit-box-shadow: 0 0 0px 1000px #fff inset;
} */

/* PLACEHOLDER-STYLES */
/* ::-webkit-input-placeholder,
::-moz-placeholder,
:-ms-input-placeholder,
:-moz-placeholder { 
    color: rgba(52, 49, 61, 0.5);
    opacity: 1;
}  */


/* VISUALLY-HIDDEN */
.visuallyhidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/* CONTAINER */

.container {
    width: 100%;
    max-width: 1140px;
    padding-left: 20px;
    padding-right: 20px;
    margin-right: auto;
    margin-left: auto;
}

/* MAIN-CONTENT */

main {
    flex-grow: 1;
}


/* SITE-HEADER */
.site-header {
    position: relative;
    padding-top: 64px;
    padding-bottom: 9px;
}

.site-header__container {
    display: flex;
    align-items: center;
}

.site-header__logo {
    flex-shrink: 0;
    margin-right: 36px;
}

.site-header__sitenav {
    margin-left: auto;
}

.sitenav__list {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
}

.sitenav__item:not(:last-child) {
    margin-right: 42px;
}

.sitenav__link {
    display: block;
    color: var(--grayish-dark-blue);
    text-decoration: none;
    font-size: 12px;
    font-style: normal;
    line-height: normal;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.sitenav__link:hover {
    color: var(--green);
}

.sitenav__link:active {
    opacity: 0.6;
}

.site-header__toggle--button {
    display: none;
}


/* MAIN-CONTENT */

/* HERO */
.hero {
    position: relative;
    padding-top: 45px;
}

.hero__img {
    width: 1100px;
    height: 600px;
    object-fit: contain;
}

.hero__inner {
    position: absolute;
    bottom: 9.5px;
    width: auto;
    max-width: 445px;
    padding-top: 56px;
    padding-right: 55px;
    background-color: var(--very-light-gray);
}

.hero__title {
    margin-top: 0;
    margin-bottom: 53px;
    font-family: var(--font-ibarra);
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: 50px; /* 100% */
    letter-spacing: -0.446px;
}

.hero__link {
    display: flex;
    align-items: center;
    text-decoration: none;
}  


.hero__icon {
    width: 48px;
    height: 48px;
    object-fit: contain;
    background-color: #000;
}

.hero__link--text {
    width: 152px;
    padding-top: 17px;
    padding-bottom: 17px;
    text-align: center;
    background-color: var(--dark-blue);
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    color: #fff;
    line-height: normal;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.hero__link--text:hover {
    color: var(--green);
}

.hero__link--text:active {
    opacity: 0.6;
}



/* ABOUT */
.about {
    padding-top: 133px;
    padding-bottom: 20px;
}

.about__container {
    display: flex;
    justify-content: space-between;
}

.about__img {
    width: 540px;
    height: 600px;
    margin-right: 36px;
    object-fit: cover;
}

.about__inner {
    width: 350px;
    margin-right: 90px;
    padding-top: 50px;
    padding-bottom: 46px;
    border-top: 1px solid rgb(51, 50, 61, 0.15);
    border-bottom: 1px solid rgb(51, 50, 61, 0.15);
}

.about__title {
    margin-top: 0;
    margin-bottom: 28px;
    font-size: 40px;
    font-family: var(--font-ibarra);
    font-style: normal;
    font-weight: 700;
    line-height: 42px; /* 105% */
    letter-spacing: -0.357px;
}

.about__text {
    margin-top: 0;
    margin-bottom: 24px;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    opacity: 0.8;
}


/* CTA */
.cta {
    padding-top: 108px;
    padding-bottom: 150px;
}

.cta__container {
    display: flex;
    align-items: center;
}

.cta__title {
    width: 350px;
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 32px;
    font-family: var(--font-ibarra);
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 42px; /* 105% */
    letter-spacing: -0.357px;
}

.line {
    width: 534px;
    height: 1px;
    margin-right: auto;
    background-color: rgb(51, 50, 61, 0.15);
}


/* SITE-FOOTER */
.site-footer {
    padding-top: 24px;
    padding-bottom: 24px;
    background-color: var(--grayish-dark-blue);
}

.site-footer__container {
    display: flex;
    align-items: center;
}

.site-footer__logo {
    margin-right: 48px;
}

.site-footer__sitenav {
    margin-right: auto;
}

.site-footer__sitenav--link {
    color: #fff;
}

.site-footer__list {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style: none;
}

.socials__item:not(:last-child) {
    margin-right: 16px;
}

.socials__link {
    color: #fff;
}

.socials__link:hover {
    color: var(--green);
}

.socials__link:active {
    opacity: 0.6;
}



/* PORTFOLIO PAGE */

/* PORTFOLIO */
.portfolio {
    padding-top: 85px;
    padding-bottom: 42px;
}

.portfolio__list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.portfolio__item {
    display: flex;
    justify-content: space-between;
}

.portfolio__item:nth-child(odd) {
    margin-right: 125px;
}

.portfolio__item:nth-child(even) {
    margin-left: 125px;
    flex-direction: row-reverse;
}

.portfolio__item:not(:last-child) {
    margin-bottom: 80px;
}

.portfolio__img {
    width: 540px;
    height: 500px;
    object-fit: contain;
}

.portfoli__content {
    width: 350px;
    padding-top: 103px;
    padding-bottom: 103px;
    border-top: 1px solid rgba(51, 50, 61, 0.15);
    border-bottom: 1px solid rgba(51, 50, 61, 0.15);
}

.portfolio__name {
    margin-top: 0;
    margin-bottom: 28px;
    font-family: var(--font-ibarra);
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 42px; /* 105% */
    letter-spacing: -0.357px;
}

.portfolio__description {
    margin-top: 0;
    margin-bottom: 24px;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    opacity: 0.8;
}



/* MANAGE */

/* MANAGE-HERO */

.hero__project {
    padding-top: 85px;
    padding-bottom: 105px;
}

.hero__project--img {
    width: 1100px;
    height: 500px;
    object-fit: contain;
}

.project {
    padding-bottom: 64px;
}

.project__container {
    display: flex;
}

.project__content {
    width: 350px;
    margin-right: 125px;
    padding-top: 48px;
    padding-bottom: 48px;
    border-top: 1px solid rgba(51, 50, 61, 0.15);
}

.project__name {
    margin-top: 0;
    margin-bottom: 29px;
    font-family: var(--font-ibarra);
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 42px; /* 105% */
    letter-spacing: -0.357px;
}

.project__description {
    margin-top: 0;
    margin-bottom: 23px;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    opacity: 0.8;
}

.project__main--info {
    margin-top: 0;
    margin-bottom: 0;
    color: var(--green);
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px;
}

.project__tools {
    margin-top: 16px;
    margin-bottom: 32px;
}

.project__line {
    width: 350px;
    height: 1px;
    margin-bottom: 0;
    margin-top: 48px;
    color: rgba(51, 50, 61, 0.15);
}

.project__info {
    width: 635px;
}

.project__info--title {
    margin-top: 0;
    margin-bottom: 28px;
    font-family: var(--font-ibarra);
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: 42px; /* 131.25% */
    letter-spacing: -0.286px;
}

.project__info--text {
    margin-top: 0;
    margin-bottom: 40px;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    opacity: 0.8;
}

.project__info--list {
    padding: 0;
    margin: 0;
    margin-top: 28px;
    list-style: none;
}

.project__info--item:not(:last-child) {
    margin-bottom: 32px;
}

.project__info--img {
    width: 635px;
    height: 400px;
    object-fit: contain;
}


/* LINKS */
.links {
    padding-top: 32px;
    padding-bottom: 32px;
    border-top: 1px solid rgba(51, 50, 61, 0.15);
    border-bottom: 1px solid rgba(51, 50, 61, 0.15);
}

.links__container {
    display: flex;
    align-items: center;
}

.links__wrapper {
    display: flex;
    align-items: center;
}

.links__prev {
    margin-right: auto;
}

.links__link {
    display: inline-block;
    text-decoration: none;
    color: var(--grayish-dark-blue);
}

.links__link:hover {
    color: var(--green);
}

.links__link:active {
    opacity: 0.6;
}

.links__inner--prev {
    margin-left: 32px;
    text-align: left;
}

.links__inner--next {
    margin-right: 32px;
    text-align: right;
}

.links__title {
    margin-top: 0;
    margin-bottom: 0;
    font-family: var(--font-ibarra);
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: 36px; /* 112.5% */
    letter-spacing: -0.286px;
}

.links__text {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    opacity: 0.5;
}




/* CONTACT PAGE */
/* CONTACT-HERO */
.contact-hero {
    margin-top: 85px;
}

.contact-hero__container {
    display: flex;
    padding-top: 48px;
    padding-bottom: 48px;
    border-top: 1px solid rgba(51, 50, 61, 0.15);
    border-bottom: 1px solid rgba(51, 50, 61, 0.15);
}

.contact-hero__title {
    width: 350px;
    margin-right: 125px;
    margin-top: 0;
    margin-bottom: 0;
    font-family: var(--font-ibarra);
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 42px; /* 105% */
    letter-spacing: -0.357px;
}

.contact-hero__content {
    width: 635px;
}

.contact-hero__text {
    margin-top: 0;
    margin-bottom: 24px;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    opacity: 0.5;
}

.contact-hero__list {
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
    list-style: none;
}

.socials__links--contact {
    color: var(--grayish-dark-blue);
}



/* CONTACT PAGE */
/* CONTACT */
.contact {
    padding-top: 48px;
    padding-bottom: 100px;
}

.contact__container {
    display: flex;
}

.contact__title {
    width: 350px;
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 125px;
    font-family: var(--font-ibarra);
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 42px; /* 105% */
    letter-spacing: -0.357px;
}

.form {
    flex-direction: column;
}

.form__list {
    padding: 0;
    margin: 0;
    list-style: none;
}


.form__item {
    margin-bottom: 24px;
} 

.form__label--wrapper {
    margin-bottom: 8px;
}

.form__label {
    font-size: 13px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px; 
    color: rgba(51, 50, 61, 0.8);
}

.form__input {
    width: 635px;
    padding-top: 9px;
    padding-bottom: 9px;
    padding-left: 16px;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    color: rgba(51, 50, 61, 0.4);
    border: 0;
    background-color: rgba(51, 50, 61, 0.1);
}

.form__textarea {
    width: 635px;
    padding-top: 9px;
    padding-bottom: 57px;
    padding-left: 16px;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    color: rgba(51, 50, 61, 0.4);
    border: 0;
    background-color: rgba(51, 50, 61, 0.1);
}





@media only screen and (max-width: 550px) {
    .site-header__logo {
        margin-right: auto;
    }
    
    .site-header__sitenav {
        display: none;
    }
    
    .site-header__toggle--button {
        display: block;
    }
    
    .site-header__open .site-header__sitenav {
        display: block;
        position: absolute;
        right: 20px;
        top: 100%;
        padding: 40px 64px;
        background-color: var(--grayish-dark-blue);
    }
    
    .site-header__sitenav .sitenav__list {
        flex-direction: column;
        align-items: center;
    }
    
    .site-header__sitenav .sitenav__item:not(:last-child) {
        margin-right: 0;
        margin-bottom: 32px;
    }
    
    .site-header__sitenav .sitenav__link {
        color: #fff;
    }
    
    .site-header__sitenav .sitenav__link:hover {
        color: var(--green);
    }
    
    .site-header__sitenav .sitenav__link:active {
        opacity: 0.6;
    }
    
}
