/* CUSTOM PROPS */
:root {
    --font-ibarra: "Ibarra Real Nova", "Arial", sans-serif;
    --font-public-sans: "Public Sans", "Arial", sans-serif;
    --green: #5FB4A2;
    --dark-blue: #203A4C;
    --grayish-dark-blue: #33323D;
    --very-light-gray: #FAFAFA;
    --light-gray: #EAEAEB;
    --bright-red: #F43030;
}

/* FONT-FACES */
@font-face {
    font-family: 'Ibarra Real Nova';
    src: url('../fonts/IbarraRealNova-Bold.woff2') format('woff2'),
    url('../fonts/IbarraRealNova-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Public Sans';
    src: url('../fonts/PublicSans-Bold.woff2') format('woff2'),
    url('../fonts/PublicSans-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Ibarra Real Nova';
    src: url('../fonts/IbarraRealNova-Regular.woff2') format('woff2'),
    url('../fonts/IbarraRealNova-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Public Sans';
    src: url('../fonts/PublicSans-Regular.woff2') format('woff2'),
    url('../fonts/PublicSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}



/* GLOBAL STYLES */
html {
    height: 100%;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 0;
    margin: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    font-family: var(--font-public-sans);
    background-color: var(--very-light-gray);
    color: var(--grayish-dark-blue);
}

img {
    max-width: 100%;
    height: auto;
}


/* LOGO */
.logo {
    display: inline-block;
}

.logo:hover {
    opacity: 0.8;
}

.logo:active {
    opacity: 0.6;
}

.logo__img {
    display: block;
    width: 61px;
    height: 32px;
    object-fit: contain;
}


/* BUTTON */
.button {
    display: inline-block;
    padding: 17px 36px 17px 32px;
    border: 1px solid var(--grayish-dark-blue);
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: var(--grayish-dark-blue);
    text-decoration: none;
}

.button:hover {
    color: #fff;
    background-color: var(--grayish-dark-blue);
}


/* AUTO-FILLS STYLES*/
/* input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    border-color: transparent;
    -webkit-text-fill-color: inherit;
    -webkit-box-shadow: 0 0 0px 1000px #fff inset;
} */

/* PLACEHOLDER-STYLES */
/* ::-webkit-input-placeholder,
::-moz-placeholder,
:-ms-input-placeholder,
:-moz-placeholder { 
    color: rgba(52, 49, 61, 0.5);
    opacity: 1;
}  */


/* VISUALLY-HIDDEN */
.visuallyhidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/* CONTAINER */

.container {
    width: 100%;
    max-width: 1140px;
    padding-left: 20px;
    padding-right: 20px;
    margin-right: auto;
    margin-left: auto;
}

/* MAIN-CONTENT */

main {
    flex-grow: 1;
}


/* SITE-HEADER */
.site-header {
    position: relative;
    padding-top: 64px;
    padding-bottom: 9px;
}

.site-header__container {
    display: flex;
    align-items: center;
}

.site-header__logo {
    flex-shrink: 0;
    margin-right: 36px;
}

.site-header__sitenav {
    margin-left: auto;
}

.sitenav__list {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
}

.sitenav__item:not(:last-child) {
    margin-right: 42px;
}

.sitenav__link {
    display: block;
    color: var(--grayish-dark-blue);
    text-decoration: none;
    font-size: 12px;
    font-style: normal;
    line-height: normal;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.sitenav__link:hover {
    color: var(--green);
}

.sitenav__link:active {
    opacity: 0.6;
}

.site-header__toggle--button {
    display: none;
}


/* MAIN-CONTENT */

/* HERO */
.hero {
    position: relative;
    padding-top: 45px;
}

.hero__img {
    width: 1100px;
    height: 600px;
    object-fit: contain;
}

.hero__inner {
    position: absolute;
    bottom: 9.5px;
    width: auto;
    max-width: 445px;
    padding-top: 56px;
    padding-right: 55px;
    background-color: var(--very-light-gray);
}

.hero__title {
    margin-top: 0;
    margin-bottom: 53px;
    font-family: var(--font-ibarra);
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: 50px; /* 100% */
    letter-spacing: -0.446px;
}

.hero__link {
    display: flex;
    align-items: center;
    text-decoration: none;
}  


.hero__icon {
    width: 48px;
    height: 48px;
    object-fit: contain;
    background-color: #000;
}

.hero__link--text {
    width: 152px;
    padding-top: 17px;
    padding-bottom: 17px;
    text-align: center;
    background-color: var(--dark-blue);
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    color: #fff;
    line-height: normal;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.hero__link--text:hover {
    color: var(--green);
}

.hero__link--text:active {
    opacity: 0.6;
}



/* ABOUT */
.about {
    padding-top: 133px;
    padding-bottom: 20px;
}

.about__container {
    display: flex;
    justify-content: space-between;
}

.about__img {
    width: 540px;
    height: 600px;
    margin-right: 36px;
    object-fit: cover;
}

.about__inner {
    width: 350px;
    margin-right: 90px;
    padding-top: 50px;
    padding-bottom: 46px;
    border-top: 1px solid rgb(51, 50, 61, 0.15);
    border-bottom: 1px solid rgb(51, 50, 61, 0.15);
}

.about__title {
    margin-top: 0;
    margin-bottom: 28px;
    font-size: 40px;
    font-family: var(--font-ibarra);
    font-style: normal;
    font-weight: 700;
    line-height: 42px; /* 105% */
    letter-spacing: -0.357px;
}

.about__text {
    margin-top: 0;
    margin-bottom: 24px;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    opacity: 0.8;
}


/* CTA */
.cta {
    padding-top: 108px;
    padding-bottom: 150px;
}

.cta__container {
    display: flex;
    align-items: center;
}

.cta__title {
    width: 350px;
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 32px;
    font-family: var(--font-ibarra);
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 42px; /* 105% */
    letter-spacing: -0.357px;
}

.line {
    width: 534px;
    height: 1px;
    margin-right: auto;
    background-color: rgb(51, 50, 61, 0.15);
}

.button {
}



@media only screen and (max-width: 550px) {
    .site-header__logo {
        margin-right: auto;
    }
    
    .site-header__sitenav {
        display: none;
    }
    
    .site-header__toggle--button {
        display: block;
    }
    
    .site-header__open .site-header__sitenav {
        display: block;
        position: absolute;
        right: 20px;
        top: 100%;
        padding: 40px 64px;
        background-color: var(--grayish-dark-blue);
    }
    
    .site-header__sitenav .sitenav__list {
        flex-direction: column;
        align-items: center;
    }
    
    .site-header__sitenav .sitenav__item:not(:last-child) {
        margin-right: 0;
        margin-bottom: 32px;
    }
    
    .site-header__sitenav .sitenav__link {
        color: #fff;
    }
    
    .site-header__sitenav .sitenav__link:hover {
        color: var(--green);
    }
    
    .site-header__sitenav .sitenav__link:active {
        opacity: 0.6;
    }
    
}
